@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url(fonts/rubik/rubik-800.woff2) format("woff2");
  font-display: swap;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 20px;
  width: 1260px;
  margin: 0 auto;
  margin-top: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-header {
  position: relative;
  background-color: #FFE17F;
  height: 300px;
}

.two_zero {
  position: absolute;
  font-weight: 800;
  font-size: 170px;
  z-index: 1;
  top: 225px;
  left: 980px;
  color: #FFFFFF;
}

.nav-user {
  margin-top: 49px;
  margin-bottom: 45px;
}

.nav-user-list {
  list-style: none;
}

.main-nav-list {
  list-style-type: none;
}

.nav-user-item-button {
  background-color: #FFE17F;
  padding: 5px;
  border: none;
}

.logo-device {
  margin-left: 91px;
  margin-top: -36px;
}

a {
  color: #000000;
  text-decoration: none;
}

.main-nav-list .main-nav-item {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 3px;
  font-family: "Rubik", sans-serif;
}

.nav-user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 60px;
  position: relative;
  margin-bottom: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subcatalog li {
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  cursor: pointer;
}

.button-plus:hover {
  opacity: 0.5;
}

.main-nav-item:hover .subcatalog {
  display: block;
  position: absolute;
  top: 50px;
  left: -40px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "virt gym kvadra" "mono smart ." "camers . .";
  gap: 20px;
  z-index: 4;
}

.main-nav-item:focus-within .subcatalog {
  display: block;
  position: absolute;
  top: 50px;
  left: -40px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "virt gym kvadra" "mono smart ." "camers . .";
  gap: 20px;
  z-index: 4;
}

.subcatalog {
  display: none;
}

.subcatalog li:first-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: virt;
  width: 270px;
}

.subcatalog li:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: gym;
  width: 190px;
}

.subcatalog li:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: kvadra;
}

.subcatalog li:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: mono;
}

.subcatalog li:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: smart;
}

.subcatalog li:last-child {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: camers;
}

.main-nav-item a:focus {
  border: 2px solid #AF4FFF;
  border-radius: 20px;
  padding: 5px;
}

.main-nav-item {
  padding-bottom: 5px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.main-nav-item:hover {
  border-bottom: 2px solid black;
}

.main-nav-item:first-child {
  border: none;
  padding: 0px;
}

.nav-user-list .nav-user-item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.nav-user-list input:hover {
  opacity: 0.6;
}

.sliders {
  padding: 0;
  margin: 0;
}

.nav-user-list .nav-user-item {
  position: absolute;
}

.slider-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-user-list .nav-user-item:nth-child(2) {
  left: 620px;
}

.nav-user-list a:nth-child(2):hover {
  opacity: 0.6;
}

.nav-user-list .nav-user-item:nth-child(3) {
  left: 910px;
}

.nav-user-list a:last-child:hover {
  opacity: 0.6;
}

.nav-user-list .nav-user-item:last-child {
  left: 1050px;
}

.in_the_basket {
  position: absolute;
  background-color: #F0F0F0;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  right: 80px;
  text-align: center;
  line-height: 21px;
  bottom: 0px;
  font-size: 14px;
}

.main-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 60px;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-nav-list .main-nav-item {
  position: absolute;
}

.main-nav-list .main-nav-item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.main-nav-list .main-nav-item:nth-child(2) {
  left: 615px;
  cursor: pointer;
}

.main-nav-list .main-nav-item:nth-child(3) {
  left: 800px;
  cursor: pointer;
}

.main-nav-list .main-nav-item:last-child {
  left: 958px;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.button-plus {
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  border: none;
  bottom: 17px;
  left: 17px;
  background-color: #FFE17F;
}

.circle {
  position: absolute;
  bottom: -1px;
  right: -1px;
}

.plus {
  position: absolute;
  bottom: 15px;
  right: 16px;
}

.search {
  margin-right: 5px;
}

.logo {
  margin-right: 12px;
}

.compare {
  margin-right: 5px;
}

.basket {
  margin-right: 5px;
}

.main {
  background-color: none;
  margin-left: -20px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  margin-bottom: 91px;
}

.hidden {
  position: absolute;
  visibility: hidden;
}

.slider-image {
  z-index: 2;
}

.container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.slider-pagination-item {
  margin-top: 20px;
}

.slider-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 22px;
          column-gap: 22px;
  margin-left: auto;
  margin-right: 70px;
}

.title-middle {
  font-size: 50px;
  line-height: 50px;
  width: 560px;
}

.title-middle-first {
  margin: 0px;
  margin-bottom: 20px;
}

.paragraph {
  font-family: "Rubik", sans-serif;
  color: #444444;
  font-size: 18px;
  line-height: 30px;
  margin: 0px;
}

.slider-pagination-item button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  border: 2px solid #000000;
  background-color: #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-item button:hover {
  background-color: #000000;
}

.slider-button-left {
  cursor: pointer;
  width: 20px;
  height: 60px;
  color: #000000;
  cursor: pointer;
}

.slider-button-right {
  width: 20px;
  height: 60px;
  color: #000000;
  cursor: pointer;
}

.infa {
  margin-left: 51px;
  margin-top: -40px;
  z-index: 1;
}

.important-infa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.infa-item {
  margin-left: 0;
}

.block-infa {
  margin-right: 20px;
}

.h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.slider-button {
  position: relative;
  height: 90px;
  width: 50px;
  margin-top: 100px;
  background-color: #FFFFFF;
  border: none;
}

.slider-button-left:hover {
  opacity: 0.6;
}

.slider-button-right:hover {
  opacity: 0.6;
}

.cliker {
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: #FFE17F;
  width: 220px;
  height: 8px;
  line-height: 8px;
  letter-spacing: 0.2em;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.cliker-podrobnee-1:hover {
  height: 50px;
  line-height: 50px;
}

.cliker-podrobnee-2:hover {
  height: 50px;
  line-height: 50px;
}

.cliker-podrobnee-1:active {
  opacity: 30%;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.cliker-podrobnee-2:active {
  opacity: 30%;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.cliker-podrobnee {
  margin-top: 20px;
}

.cliker-podrobnee-1 {
  width: 260px;
}

.slider-image {
  margin-top: -150px;
}

.goods {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (160px)[6];
      grid-template-columns: repeat(6, 160px);
  -webkit-column-gap: 60px;
          column-gap: 60px;
  margin-bottom: 300px;
  margin-left: 20px;
}

.goods figure {
  background-color: #FFE17F;
  width: 160px;
  height: 160px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.one {
  padding-top: 110px;
}

.two {
  padding-top: 56px;
}

.three {
  padding-top: 90px;
}

.four {
  padding-top: 97px;
  width: 180px;
}

.five {
  padding-top: 83px;
  padding-left: 10px;
}

.six {
  padding-top: 92px;
}

.img-1 {
  margin-right: 0px;
  margin-left: 30px;
  margin-top: 53px;
}

.img-2 {
  margin-left: 37px;
  margin-top: 43px;
}

.img-3 {
  margin-left: 49px;
  margin-top: 38px;
}

.img-4 {
  margin-left: 26px;
  margin-top: 50px;
}

.img-5 {
  margin-left: 53px;
  margin-top: 31px;
}

.img-6 {
  margin-left: 14px;
  margin-top: 49px;
}

.opisanie {
  background-color: #F0F0F0;
  padding-left: 140px;
  margin-left: -110px;
  margin-right: -130px;
  height: 319px;
  margin-bottom: 90px;
}

.delivery_guarantee_credit li:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.delivery_guarantee_credit li:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.delivery_guarantee_credit li:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.delivery_guarantee_credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 250px;
}

.prochee {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -5px;
  margin-right: 70px;
}

.line {
  position: absolute;
  height: 319px;
  border-left: 7px solid #000000;
  left: 319px;
  top: -80px;
}

.cliker-3, .cliker-4, .cliker-5 {
  border: none;
  margin-bottom: 44px;
}

.cliker-3:hover {
  height: 40px;
  line-height: 40px;
}

.cliker-4:hover {
  height: 40px;
  line-height: 40px;
}

.cliker-5:hover {
  height: 40px;
  line-height: 40px;
}

.cliker-3:active {
  background-color: #000000;
  color: #FFE17F;
  width: 280px;
  height: 40px;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
}

.cliker-4:active {
  background-color: #000000;
  color: #FFE17F;
  width: 280px;
  height: 40px;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
}

.cliker-5:active {
  background-color: #000000;
  color: #FFE17F;
  width: 280px;
  height: 40px;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
}

.two_guarantee .cliker-4 {
  background-color: #000000;
  color: #FFE17F;
  width: 280px;
  height: 40px;
}

.three_credit .cliker-5 {
  background-color: #000000;
  color: #FFE17F;
  width: 280px;
  height: 40px;
}

.paragraph-first {
  margin-bottom: 30px;
}

.paragraph-second {
  font-family: "Rubik", sans-serif;
}

.paragraph-third {
  color: #000000;
  letter-spacing: 0.2em;
  text-align: center;
  line-height: 100px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  margin: 0px;
  text-transform: uppercase;
}

.promice {
  margin-left: 116px;
  top: -60px;
  position: relative;
}

.title-middle-second {
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.promice img {
  position: relative;
  left: 550px;
  bottom: 185px;
}

.bonus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
  margin-left: 20px;
  background-color: #F0F0F0;
  height: 100px;
  width: 1260px;
}

.bonus .lorry {
  position: relative;
  background-color: #FFE17F;
  width: 125px;
  height: 100px;
  margin-right: 230px;
}

.lorry img {
  position: absolute;
  top: 32%;
  left: 30%;
}

.info-lorry {
  margin-left: auto;
  margin-right: 31px;
  border: none;
  cursor: pointer;
}

.first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 25px;
  margin-bottom: 86px;
}

.information-about-us {
  position: relative;
  margin-right: 205px;
  max-width: 560px;
}

.contacts {
  position: relative;
  max-width: 560px;
}

.line-us {
  border-top: 7px solid #000000;
  width: 70px;
  padding-bottom: 40px;
}

.line-contacts {
  border-top: 7px solid #000000;
  width: 80px;
  padding-bottom: 40px;
}

.information-about-us .title-us {
  width: 170px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  margin-top: 0px;
}

.paragraph-fourth {
  margin-bottom: 30px;
}

.paragraph-fourth:last-of-type {
  margin-bottom: 65px;
}

.information-about-us-company {
  margin-top: 0px;
  margin-bottom: 76px;
}

.information-about-us-company .information-about-us-company-item {
  background: url("../img/Ellipse 11.png") left no-repeat;
  padding-left: 26px;
  margin-bottom: 10px;
  margin-left: -38px;
  font-size: 18px;
  font-weight: 700;
}

.information-about-us-company-item:last-of-type {
  margin-bottom: 0px;
}

.information-about-us .information-about-us-company {
  margin-bottom: 77px;
  margin-top: 0px;
}

.contacts .title-contacts {
  width: 130px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 40px;
  margin-top: 0px;
}

.contacts p {
  margin-bottom: 30px;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  margin-top: 0px;
}

.Petesberg p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.Petesberg {
  margin-bottom: 30px;
}

.contacts .h3 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 0px;
}

.contacts-time {
  margin-top: 0px;
  margin-bottom: 67px;
  padding-left: 0px;
}

.contacts-time .contacts-time-item:first-of-type {
  margin-bottom: 5px;
}

.contacts-schedule .contacts-time-item {
  font-size: 18px;
}

.subscribe {
  padding-top: 70px;
  background-color: #F0F0F0;
  position: relative;
  margin-left: -110px;
  width: 1260px;
  padding-left: 260px;
  height: 421px;
}

.subscribe div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe h2 {
  font-size: 50px;
  font-weight: 800;
  margin-top: 0px;
  margin-top: 75px;
}

.subscribe input {
  border: none;
  border-bottom: 1px solid #000000;
  width: 601px;
  background-color: #F0F0F0;
  padding-top: 20px;
  padding-bottom: 15px;
}

.subscribed {
  border: none;
  border: 1px solid #000000;
  width: 260px;
  height: 55px;
  background-color: #F0F0F0;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.2em;
  font-weight: 800;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.subscribed:hover {
  background-color: #cac8c8;
}

.subscribe .paragraph-six {
  position: absolute;
  bottom: 236px;
  left: 865px;
}

.free {
  position: absolute;
  left: 1260px;
  bottom: 170px;
  background: url("../img/galochka.svg") left no-repeat;
  padding-left: 26px;
}

.footer {
  background-color: #444444;
  width: 1440px;
  height: 321px;
  position: relative;
  padding-right: 80px;
  margin-left: -130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-1 {
  margin-top: 62px;
}

.img-footer {
  margin-left: 138px;
  margin-bottom: 35px;
}

.addres {
  color: #FFFFFF;
  margin-left: 139px;
  margin-bottom: 66px;
}

.line-addres {
  border-bottom: 7px solid #FFC700;
  width: 80px;
  margin-left: 140px;
}

.footer-list {
  margin-left: 195px;
  margin-top: 137px;
  margin-bottom: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-list-item a {
  color: #FFFFFF;
  text-transform: uppercase;
  margin-right: 27px;
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  margin-left: 325px;
}

.href a {
  color: #F0F0F0;
  letter-spacing: 0.2em;
}

.href {
  margin-top: 138px;
  margin-left: 120px;
  margin-bottom: 53px;
}

.logo-2 {
  margin-left: 200px;
}
/*# sourceMappingURL=style.css.map */