@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url(fonts/rubik/rubik-800.woff2) format("woff2");
  font-display: swap;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 20px;
  width: 1360px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 40px;
}

.hidden {
  visibility: hidden;
  position: absolute;
}

button {
  cursor: pointer;
}

.page-header {
  background-color: #ffe17f;
  margin: 0 auto;
  margin-bottom: 49px;
  height: 186px;
  padding-bottom: 23px;
}

.in_the_basket {
  position: absolute;
  background-color: #F0F0F0;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  right: 85px;
  text-align: center;
  line-height: 21px;
  bottom: 0px;
  font-size: 14px;
}

.logo-device {
  margin-left: 91px;
  margin-top: -36px;
}

.nav-user {
  margin-top: 39px;
  margin-bottom: 45px;
}

.nav-user-list {
  list-style: none;
}

.main-nav-list {
  list-style-type: none;
}

.nav-user-item-button {
  background-color: #ffe17f;
  border: none;
  opacity: 30%;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  padding: 5px;
  font-size: 16px;
  border-bottom: 2px solid #000000;
}

.nav-user-item-button:hover {
  opacity: 0.8;
}

.sike {
  opacity: 0.3;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 2px solid #000000;
  padding: 5px;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  right: 6px;
  border-top-left-radius: 0px 0px;
  border-bottom-left-radius: 0px 0px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  cursor: pointer;
}

.sike:hover {
  background-color: #000000;
  color: #FFFFFF;
  opacity: 1;
}

.sike:active {
  color: #332e2e;
  background-color: #000000;
  -webkit-transition-duration: 50ms;
          transition-duration: 50ms;
  opacity: 1;
}

.leave {
  margin-left: -100px;
  border: none;
  background-color: #ffe17f;
  opacity: 0.3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  font-size: 16px;
}

.leave:hover {
  opacity: 0.8;
}

.logo {
  margin-left: 61px;
  margin-top: -24px;
}

a {
  color: #000000;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.main-nav-list .main-nav-item {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 3px;
}

.main-nav-item a:hover {
  border-bottom: 2px solid #000000;
  padding-bottom: 8px;
}

.main-nav-item a:first-child {
  height: 21px;
}

.nav-user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 60px;
  position: relative;
  height: 20px;
  margin-bottom: 54px;
}

.nav-user-item a:hover {
  color: #3f3f3f;
}

.nav-user-list .nav-user-item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.nav-user-list .nav-user-item {
  position: absolute;
}

.nav-user-list .nav-user-item:nth-child(4) {
  left: 950px;
}

.nav-user-list .nav-user-item:last-child {
  left: 1145px;
}

.nav-user-list .nav-user-item:nth-child(2) {
  left: 595px;
}

.nav-user-list .nav-user-item:nth-child(3) {
  left: 920px;
}

.main-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 60px;
  margin-top: 0px;
  position: relative;
  height: 20px;
}

.main-nav-list .main-nav-item {
  position: absolute;
}

.main-nav-list .main-nav-item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.main-nav-list .main-nav-item:nth-child(2) {
  left: 650px;
  cursor: pointer;
}

.main-nav-list .main-nav-item:nth-child(3) {
  left: 830px;
  cursor: pointer;
}

.main-nav-list .main-nav-item:last-child {
  left: 1100px;
  cursor: pointer;
}

.button-plus {
  width: 50px;
  height: 50px;
  position: relative;
  border: none;
  bottom: 17px;
  left: 17px;
  background-color: #FFE17F;
}

.circle {
  position: absolute;
  bottom: -1px;
  right: -1px;
}

.plus {
  position: absolute;
  bottom: 15px;
  right: 16px;
}

.search {
  margin-right: 15px;
  margin-bottom: 3px;
}

.logo {
  margin-right: 12px;
}

.compare {
  margin-right: 10px;
}

.basket {
  margin-right: 10px;
}

.selfi {
  font-size: 50px;
  font-weight: 800;
  margin-top: 0px;
}

.Selfi-list button {
  border: none;
  background-color: #FFFFFF;
  color: #000000;
  opacity: 60%;
}

.Selfi-list button:hover {
  opacity: 1;
}

.Selfi-list button:active {
  opacity: 30%;
}

.one-part .Selfi-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  padding-left: 0px;
}

.one-part {
  margin-left: 95px;
  margin-bottom: 49px;
}

.main-really {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1450px;
}

.first {
  width: 468px;
  height: 70px;
  background-color: #dcdcdc;
  text-align: center;
  line-height: 70px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 71px;
}

.filter {
  margin-left: -80px;
  width: 468px;
  background-color: #ececec;
  font-family: "Raleway", sans-serif;
}

.first h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.main-section {
  margin-left: 180px;
}

.characteristic {
  margin-top: 0px;
  font-size: 18px;
  font-weight: 700;
}

.filter-price {
  margin-bottom: 36px;
}

.button-min, .button-max {
  border: none;
  background-color: #EBEBEB;
  border: 2px solid #000000;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: relative;
  top: 10px;
}

.button-max {
  left: 92px;
}

.line-cost {
  border-top: 2px solid #000000;
  width: 99px;
  position: relative;
  left: 17px;
}

.line-cost-2 {
  position: relative;
  border-top: 2px solid #DCDCDC;
  width: 68px;
  left: 133px;
  bottom: 2px;
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.costing {
  border-top: 2px solid #000000;
  width: 200px;
  padding-top: 12px;
  margin-bottom: 15px;
}

.range {
  margin-bottom: 7px;
}

.range-input:first-child {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  margin-right: 40px;
}

.range-input:last-child {
  width: 59px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

.filter-color {
  border: none;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.color {
  border-top: 2px solid #000000;
  width: 200px;
  padding-top: 12px;
  margin-bottom: 19px;
}

.colors {
  padding-left: 0px;
  margin: 0;
}

.colors input {
  margin-bottom: 21px;
}

.about_bluetooth {
  border: none;
}

.bluetooth {
  border-top: 2px solid #000000;
  width: 200px;
  padding-top: 12px;
  margin-bottom: 19px;
}

.about_bluetooth .right input {
  margin-bottom: 22px;
}

.about_bluetooth .right {
  margin-bottom: 52px;
}

.control {
  position: relative;
  display: block;
  padding-left: 27px;
}

/* Mark */
.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 13px;
  height: 12px;
  border: 2px solid #242424;
  border-radius: 3px;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 6px;
  width: 7px;
  height: 2px;
  right: 6px;
  background-color: #242424;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 5px;
  width: 10px;
  height: 2px;
  left: 3px;
  background-color: #242424;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

.control-input:disabled + .control-mark {
  border-color: #242424;
}

.button {
  border: none;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: #FFC700;
  width: 220px;
  height: 8px;
  line-height: 8px;
  font-size: 16px;
  letter-spacing: 0.2em;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.button:hover {
  height: 40px;
  line-height: 40px;
}

.button:active {
  opacity: 30%;
}

.sort {
  min-width: 1050px;
}

.full-sort-gallery {
  width: 840px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sortirovka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ebebeb;
  height: 70px;
  padding-left: 72px;
  margin-bottom: 69px;
}

.sort-zagolovok {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-right: 50px;
}

.sort-list select {
  border: none;
  background-color: #ebebeb;
  padding-right: 15px;
}

.gallery {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (360px)[2];
      grid-template-columns: repeat(2, 360px);
  grid-column-gap: 40px;
  grid-row-gap: 100px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  margin-left: 72px;
  margin-bottom: 44px;
}

.hover-content {
  position: absolute;
  top: 180px;
  left: 70px;
  display: none;
}

.one-hover, .two-hover, .three-hover, .four-hover {
  width: 360px;
  height: 380px;
}

.new {
  position: absolute;
  bottom: 367px;
  left: 273px;
  display: none;
}

.one-hover:hover .hover-content {
  display: block;
}

.four-hover:hover .new {
  display: block;
}

.two-hover:hover .hover-content {
  position: absolute;
  top: 180px;
  left: 70px;
  display: block;
}

.three-hover:hover .hover-content {
  position: absolute;
  top: 180px;
  left: 70px;
  display: block;
}

.four-hover:hover .hover-content {
  position: absolute;
  top: 180px;
  left: 70px;
  display: block;
}

.two {
  margin: 0px;
  position: relative;
}

.photo-2 {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.one {
  margin: 0px;
}

.three {
  margin: 0px;
  position: relative;
}

.four {
  margin: 0px;
  position: relative;
}

.photo-1 {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.photo-1:hover {
  opacity: 0.3;
}

.photo-2:hover {
  opacity: 0.3;
}

.photo-3 {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.photo-3:hover {
  opacity: 0.3;
}

.photo-4 {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.photo-4:hover {
  opacity: 0.3;
}

.gallery-block-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 360px;
  margin-top: 32px;
}

.five {
  margin-left: auto;
}

.gallery-block-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 360px;
  margin-top: 32px;
}

.fifteen {
  margin-left: auto;
}

.gallery-block-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 360px;
  margin-top: 32px;
}

.twenty-five {
  margin-left: auto;
}

.gallery-block-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 360px;
  margin-top: 32px;
}

.fourty-nine {
  margin-left: auto;
}

.gallery figcaption {
  font-weight: 700;
  font-size: 18px;
}

.yet {
  margin-left: 72px;
  margin-bottom: 51px;
  height: 55px;
  border: 2px solid #000000;
  background-color: white;
  width: 755px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.yet:hover {
  border: 3px solid #000000;
}

.yet:active {
  opacity: 30%;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
}

.yet:focus {
  border: 5px solid #AF4FFF;
}

.numbers-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  padding: 0;
  margin: 0;
}

.numbers-main .numbers-main-item {
  padding: 0;
  margin: 0;
}

.back_next {
  background: #ebebeb;
  width: 755px;
  margin-left: 72px;
  height: 70px;
  line-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.back_next-button {
  background: #ebebeb;
  border: none;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 127px;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.back_next-button:hover {
  background-color: #DCDCDC;
}

.back_next-button:focus {
  border: 5px solid #AF4FFF;
}

.button-number {
  border: none;
  width: 7px;
  height: 19px;
  opacity: 0.3;
}

.button-number:focus {
  border: 5px solid #AF4FFF;
  width: 28px;
  height: 28px;
  border-radius: 0px;
}

.button-number:hover {
  opacity: 1;
}

.button-number:active {
  opacity: 10%;
}

.strelka-1 {
  margin-left: 15px;
  margin-right: 15px;
}

.strelka-2 {
  margin-left: 15px;
  margin-right: 15px;
}

.point {
  opacity: 0.3;
}

.line-addres {
  border-bottom: 7px solid #FFC700;
  width: 80px;
  margin-left: 140px;
}

.footer {
  background-color: #444444;
  width: 1439px;
  height: 321px;
  position: relative;
  padding-right: 80px;
  margin-left: -80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-1 {
  margin-top: 62px;
}

.img-footer {
  margin-left: 138px;
  margin-bottom: 35px;
}

.addres {
  color: #FFFFFF;
  margin-left: 139px;
  margin-bottom: 66px;
}

.line-addres {
  border-bottom: 7px solid #FFC700;
  width: 80px;
  margin-left: 140px;
}

.footer-list {
  margin-left: 195px;
  margin-top: 137px;
  margin-bottom: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-list-item a {
  color: #FFFFFF;
  text-transform: uppercase;
  margin-right: 27px;
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  margin-left: 325px;
}

.href a {
  color: #F0F0F0;
  letter-spacing: 0.2em;
}

.href {
  margin-top: 138px;
  margin-left: 120px;
  margin-bottom: 53px;
}

.logo-2 {
  margin-left: 200px;
}
/*# sourceMappingURL=style-catalog.css.map */